@page "/beer_names"

@inject HttpClient Http
@inject NavigationManager NavManager

<h1>Welcome to the Beer Name page</h1>
<p>
	This page is to show the filter sectioning by condenscing the beers down to certain types and names
</p>

<p>
	<button class="btn btn-outline-dark" @onclick="ChangeToI">Punk IPA</button><br>
	<button class="btn btn-outline-info" @onclick="ChangeToL">Larger</button><br>
	<button class="btn btn-outline-warning" @onclick="ChangeToP">Porter</button><br>
</p>




@code {
	public void ChangeToI()
	{
		NavManager.NavigateTo("/ipa");
	}

	public void ChangeToL()
	{
		NavManager.NavigateTo("/lager");
	}

	public void ChangeToP()
	{
		NavManager.NavigateTo("/porter");
	}

}
