@page "/test"
@inject HttpClient Http

@if (data == null)
{
	<p><em>Loading...</em></p>
}
else
{
	
  <div class="row">
			@foreach(var item in data)
			{
				<div class="col-4">
					<div class="card">
						
						<div class="card-body">
							<h5 class="card-title">@item.name</h5>
							<p class="card-text">@item.description</p>
							
							
						</div>
					</div>
				</div>
			}
		</div>
	


}


@code {
	private BeerEntry[] data;

	protected override async Task OnInitializedAsync()
	{
		try
		{
			data = await Http.GetFromJsonAsync<BeerEntry[]>("https://api.punkapi.com/v2/beers?chicken_curry");
		}
		catch (Exception e)
		{
			Console.WriteLine(e.Message);
			throw e;
		}
	}

	public class BeerEntry
	{
		public string name { get; set; }
		
		public string description { get; set; }
		

	}

	

	
}